doctype html 
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='format-detection' content='telephone=no')
        //link(rel ='stylesheet' href='css/normalize.css')
        link(rel ='stylesheet' href='css/style.css')

        link(rel='shortcut icon' href='img/favicon.ico')
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic-ext" rel="stylesheet">
        title Barbershop
    body
        header
            block page-header    
        main
            block promo
            block works
            block price
            block slider
            block news
            block feedback
        footer
            block footer
    
    
    