block contacts
    section.contacts
        p.contacts__header Барбершоп Бородинский
        p.contacts__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8
        p.contacts__tel +7 (812) 555-66-66
        .socio
            .socio__image
                img(src="#")
            .socio__image
                img(src="#")
            .socio__image
                img(src="#")
    