block feedback
    section.feedback
        .feedback-slider
            h2.feedback__header Отзывы о нас
            .feedback-slide
                .feedback-slide__image
                    img(src="#")
                h2.feedback-slide__header Трэвис Баркер
                p.feedback-slide__text Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
        .slider-controls
            .control.control--one
            .control.control--two
            .control.control--three