block footer
    section.footer
        section.contacts
            p.contacts__header Барбершоп Бородинский
            p.contacts__address г. Санкт-Петербург, ул. Большая Конюшенная 19/8
            p.contacts__tel +7 (812) 555-66-66
        section.socio
            p.socio__text Давайте дружить!
            .socio__images
                .socio__image.socio__image--one
                    picture
                        source(media="(min-width: 1200px)" srcset="img/vk-icon-small-png.png")
                        img(src="img/vk-icon-big-png.png" alt="Socio")
                .socio__image.socio__image--two
                    picture
                        source(media="(min-width: 1200px)" srcset="img/facebook-icon-small-png.png")
                        img(src="img/facebook-icon-big-png.png" alt="Socio")
                .socio__image.socio__image--three
                    picture
                        source(media="(min-width: 1200px)" srcset="img/insta-icon-small-png.png")
                        img(src="img/insta-icon-big-png.png" alt="Socio")
        section.developers
            p.footer__header Разработано:
            p.footer__text HTMLAcademy
    