block page-header
    section.page-header
        .page-header__logo
            picture
              source(media="(min-width: 1200px)" srcset="img/icons/logo-desktop.svg")
              source(media="(min-width: 768px)" srcset="img/logotype-tablet.png")
              img(src="img/logotype-mobile.png" alt="Logo")
        include menu
        span.toogler
        