nav.main-menu
    ul.main-menu__list
        li.main-menu__item 
            a(class="main-menu__link") Главная
        li.main-menu__item 
            a(class="main-menu__link") Наши работы
        li.main-menu__item 
            a(class="main-menu__link") Записаться
        li.main-menu__item 
            a(class="main-menu__link") Контакты
        li.main-menu__item 
            a(class="main-menu__link") HTML Academy
    //.main-menu__login
        img(src="img/login.png" alt="Login")