nav.main-menu
    ul.main-menu__list
        li.list__item 
            a(class="list__link") Главная
        li.list__item 
            a(class="list__link") Наши работы
        li.list__item 
            a(class="list__link") Записаться
        li.list__item 
            a(class="list__link") Контакты
        li.list__item 
            a(class="list__link") HTML Academy
        