block news
    section.news
        h2.news__header Новости и акции
        .news__block.news__block--one
            .news__date 
                p.news__number 29
                p.news__month сент
            p.news__text Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
        .news__block.news__block--two
            .news__date
                p.news__number 19
                p.news__month сент
            p.news__text В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!
        .btn.news__btn показать все

