block news
    section.news
        h2.news__header Новости и акции
        .news__block
            .news__date 29 <span>сент</span>
            p.news__text Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
        .news__block
            .news__date 19 <span>сент</span>
            p.news__text В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!
        .btn.news__btn показать все

