block price
    section.prices
        h2.prices__header ПРЕЙСКУРАНТ
        .prices-table
            .prices-table__row
                p.number 1
                p.todo Классическая стрижка 
                p.desc <span>(</span>с мытьём головы<span>)</span>
                p.price 1 500 руб.
            .prices-table__row
                p.number 2
                p.todo Современный вариант
                p.desc <span>(</span>с мытьём головы<span>)</span>
                p.price 1 500 руб.
            .prices-table__row
                p.number 3
                p.todo Индивидуальный подход
                p.desc <span>(</span>с мытьём головы<span>)</span>
                p.price 2 000 руб.
            .prices-table__row
                p.number 4
                p.todo Бритьё головы
                p.desc.desc--four <span>(</span>без мытья<span>)</span>
                p.price 500 руб.
            .prices-table__row
                p.number 5
                p.todo Бритьё головы
                p.desc <span>(</span>с мытьём головы<span>)</span>
                p.price 1 000 руб.
        .discount
            .discount__img
                img(src="img/clock-illustration.png" alt="Clock")
            .discount__text
                p C 10:00 до 14:00 скидка 20%
            