block price
    section.prices
        h2.prices__header ПРЕЙСКУРАНТ
        .prices-table
            .prices-table__row
                p.todo Классическая стрижка 
                p.desc (с мытьём головы)
                p.price 1 500 руб.
            .prices-table__row
                p.todo Современный вариант
                p.desc (с мытьём головы)
                p.price 1 500 руб.
            .prices-table__row
                p.todo Индивидуальный подход
                p.desc (с мытьём головы)
                p.price 2 000 руб.
            .prices-table__row
                p.todo Бритьё головы
                p.desc (без мытья)
                p.price 500 руб.
            .prices-table__row
                p.todo Бритьё головы
                p.desc (с мытьём головы)
                p.price 1 000 руб.
        .discount
            .discount__img
                img(src="#")
            .discount__text C 10:00 до 14:00 скидка 20%
            