block promo
    section.promo
        h1.promo__header Стрижка у нас это выгодно!
        p.promo__text Мужская стрижка требует точного подхода. Обратимся к статистике:
        .features
            .features__block
                p.features__number 1500<sup>*</sup>
                p.features__text рублей вложений
            .features__block
                p.features__number 7 200
                p.features__text секунд времени мастера
            .features__block
                p.features__number 90 000
                p.features__text постриженных волос
            .features__block
                p.features__number 500 000<sup>*</sup>
                p.features__text лайков и комплиментов
        .lie
            p.lie__text * — приведённые данные ложь