block slider
    section.slider
        .slide.slide--one
            .slide__image
                img(src="img/slider-1.png" alt="Image")
            .slide__information
                h2.slide__header Быстро
                p.slide__text Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки
        .slide.slide--two
            .slide__image
                img(src="img/slider-2.png" alt="Image")
            .slide__information
                h2.slide__header Быстро
                p.slide__text Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки
        .slide.slide--three
            .slide__image
                img(src="img/slider-3.png" alt="Image")
            .slide__information
                h2.slide__header Быстро
                p.slide__text Мы делаем свою работу быстро! Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки
        .slider-controls
            .control.control--one
            .control.control--two
            .control.control--three