block works
    section.works
        h1.works__header Наши работы
        .btn.work__btn
            p На главную
        .work-of-month
            .works-of-month__image
                picture
                    source(media="(min-width: 1200px)" srcset="img/icons/logo-desktop.svg")
                    source(media="(min-width: 768px)" srcset="img/photo-1-tablet.jpg")
                    img(src="img/work-om.jpg" alt="Photo")
            .work-of-month__text-block
                p.work-of-month__promo Работа месяца
                p.work-of-month__name Лжепётр Мчиславский
                p.work-of-month__text Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
                .what-done
                    .what-done__block
                        img(src="img/scissors.png" alt="image")
                        p Стрижка
                    .what-done__block
                        img(src="img/beard.png" alt="image")
                        p Бритье
                    .what-done__block
                        img(src="img/mustache.png" alt="image")
                        p Усы
        .work
            .work__image
                picture
                    source(media="(min-width: 1200px)" srcset="img/icons/logo-desktop.svg")
                    source(media="(min-width: 768px)" srcset="img/photo-2-tablet.jpg")
                    img(src="img/work-2.jpg" alt="Photo")
            .work__text-block
                p.work__name Саша Мальцев
                p.work__text Попросил омолодить и омолодили! Кто теперь скажет, что мне 45? 
                .what-done
                    .what-done__block
                        img(src="img/scissors.png" alt="image")
                        p Стрижка
        .work
            .work__image
                picture
                    source(media="(min-width: 1200px)" srcset="img/icons/logo-desktop.svg")
                    source(media="(min-width: 768px)" srcset="img/photo-3-tablet.jpg")
                    img(src="img/work-3.jpg" alt="Photo")
            .work__text-block
                p.work__name Владимир Иваныч
                p.work__text К зимнему сезону — готов!
                .what-done
                    .what-done__block
                        img(src="img/beard.png" alt="image")
                        p Борода
                    .what-done__block
                        img(src="img/mustache.png" alt="image")
                        p Усы
        .work
            .work__image
                picture
                    source(media="(min-width: 1200px)" srcset="img/icons/logo-desktop.svg")
                    source(media="(min-width: 768px)" srcset="img/photo-4-tablet.jpg")
                    img(src="img/work-4.jpg" alt="Photo")
            .work__text-block
                p.work__name Винстон Синий
                p.work__text Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
                .what-done
                    .what-done__block
                        img(src="img/scissors.png" alt="image")
                        p Стрижка
                
                    
                