block works
    section.works
        h1.works__header Наши работы
        .work-of-month
            .works-of-month__image
                img(src="img/work-om.jpg" alt="Photo")
            .work-of-month__text-block
                p.work-of-month__promo Работа месяца
                p.work-of-month__name Лжепётр Мчиславский
                p.work-of-month__text Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
            .what-done
                .what-done__block
                    img(src="img/scissors.png" alt="image")
                    p Стрижка
                .what-done__block
                    img(src="img/beard.png" alt="image")
                    p Бритье
                .what-done__block
                    img(src="img/mustache.png" alt="image")
                    p Усы
        .work
            .work__image
                img(src="img/work-2.jpg" alt="Photo")
            p.work__name Саша Мальцев
            p.work__text Попросил омолодить и омолодили! Кто теперь скажет, что мне 45? 
            .what-done
                .what-done__block
                    img(src="img/scissors.png" alt="image")
                    p Стрижка
        .work
            .work__image
                img(src="img/work-3.jpg" alt="Photo")
            p.work__name Владимир Иваныч
            p.work__text К зимнему сезону — готов!
            .what-done
                .what-done__block
                    img(src="img/beard.png" alt="image")
                    p Борода
                .what-done__block
                    img(src="img/mustache.png" alt="image")
                    p Усы
        .work
            .work__image
                img(src="img/work-4.jpg" alt="Photo")
            p.work__name Винстон Синий
            p.work__text Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
            .what-done
                .what-done__block
                    img(src="img/scissors.png" alt="image")
                    p Стрижка
                
                    
                