block works
    section.works
        h1.works__header Наши работы
        .work-of-month
            p.work-of-month__promo Работа месяца
            p.work-of-month__name Лжепётр Мчиславский
            p.work-of-month__text Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
            .work-of-month__what-done
                .what-done__block
                    img(src="#")
                    p Стрижка
                    img(src="#")
                    p Бритье
                    img(src="#")
                    p Усы
        .work
            p.work__name Саша Мальцев
            p.work__text Попросил омолодить и омолодили! Кто теперь скажет, что мне 45? 
            .what-done__block
                img(src="#")
                p Стрижка
        .work
            p.work__name Владимир Иваныч
            p.work__text К зимнему сезону — готов!
            .what-done__block
                img(src="#")
                p Борода
                img(src="#")
                p Усы
        .work
            p.work__name Винстон Синий
            p.work__text Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
            .what-done__block
                img(src="#")
                p Стрижка
                
                    
                