.btn
{
    display: block;
}
.news__btn
{
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 280px;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #e5ddd5;
    
    @media screen and ($tablet-widths)
    {
        align-self: center;
        padding: 0;
        padding-top: 14px;
        padding-bottom: 14px;
        //height: 50px;
        width: 20%;
        order: 2;
    }
}
.work__btn
{
    display: none;
    
    @media screen and ($tablet-widths)
    {
        top: 63px;
        right: 64px;
        display: block;
        position: absolute;
        padding: 19px;
        padding-left: 39px;
        padding-right: 39px;
        border: 1px solid #e5ded6;
        
        p
        {
            color: black;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
        }
    }
}