.feedback
{
    border-top: 1px solid #e5ddd5;
    background: #f8f5f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 52px;
    position: relative;
    
    @media screen and ($desktop-widths)
    {
        position: relative;
        padding-bottom: 98px;
    }
    
    .feedback-slider
    {
        .feedback__header
        {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 37px;
            color: black;
            font-size: 30px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
            
            @media screen and ($desktop-widths)
            {
                margin-top: 50px;
                margin-left: 175px;
                text-align: left;
            }
        }
        .feedback-slide
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
            @media screen and ($tablet-widths)
            {
                margin: 0 auto;
                width: 660px;
            }
            
            @media screen and ($desktop-widths)
            {
                width: 960px;
            }
                
            .feedback-slide__body
            {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                @media screen and ($tablet-widths)
                {
                    margin: 0 auto;
                    padding-top: 36px;
                    padding-left: 31px;
                    padding-right: 55px;
                    width: 565px;
                    border-top: 1px solid #e5ddd5;
                    border-bottom: 1px solid #e5ddd5;
                }
                
                @media screen and ($desktop-widths)
                {
                    width: 820px;
                    margin-left: 20px;
                    margin-right: 20px;
                    padding-top: 0;
                    border: 1px solid #e5ddd5;
                }
                
                .feedback-slide__author
                {
                    padding-right: 20px;
                    
                    @media screen and ($tablet-widths)
                    {
                        margin-top: 12px;
                    }
                    
                    @media screen and ($desktop-widths)
                    {
                        margin-top: 0;
                        padding-right: 70px;
                    }
                    
                    img
                    {
                        vertical-align: middle;
                    }
                }
                .feedback-slide__about
                {
                    
                    @media screen and ($desktop-widths)
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        justify-content: center;
                    }
                    .feedback-slide__header
                    {
                        margin-bottom: 16px;
                        color: black;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 27px;
                    }
                    .feedback-slide__text
                    {
                        margin-bottom: 30px;
                        text-align: justify;
                        color: black;
                        font-size: 18px;
                        line-height: 27px;
                        
                        @media screen and ($desktop-widths)
                        {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .slide-left
        {
            display: none;

            @media screen and ($tablet-widths)
            {
                align-self: center;
                //height: inherit;
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 87px;
                padding-bottom: 87px;
                display: block;
                width: 12px;
                //height: 12px;
                border: 1px solid #e5ddd5;
            }
            
            @media screen and ($desktop-widths)
            {
                padding-top: 72px;
                padding-bottom: 72px;
            }
        }
        .slide-right
        {
            display: none;

            @media screen and ($tablet-widths)
            {
                align-self: center;
                //height: inherit;
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 87px;
                padding-bottom: 87px;
                display: block;
                width: 12px;
                //height: 12px;
                border: 1px solid #e5ddd5;
            }
            
            @media screen and ($desktop-widths)
            {
                padding-top: 72px;
                padding-bottom: 72px;
            }
        }
    }
    .slider-controls
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: #f8f5f2;
        
        @media screen and ($tablet-widths)
        {
            width: 126px;
            left: 43%;
            bottom: 47px;
            position: absolute;
        }
            
        .control
        {
            margin-left: 14px;
            margin-right: 14px;
            display: block;
            width: 10px;
            height: 10px;
            //background: white;
            border: 1px solid black;
            transform: rotate(45deg);
            
            &:first-of-type
            {
                background: black;
            }
        }
    }
    
    &:after
    {
        bottom: -4px;
        left: 0;
        position: absolute;
        content: url(../img/object-2-mobile.png);
        
        @media screen and ($tablet-widths)
        {
            content: "";
        }
    }
}