.footer
{
    background: #252525;
    
    @media screen and ($tablet-widths)
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    @media screen and ($desktop-widths)
    {
        align-items: baseline;
        padding-bottom: 61px;
    }
    
    
    .contacts
    {
        background: #252525;
        
        @media screen and ($tablet-widths)
        {
            width: 400px;
            order: 1;
            margin-right: 50px;
            padding-left: 64px;
        }
        
        @media screen and ($desktop-widths)
        {
            width: 320px;
            margin-left: 120px;
        }
        .contacts__header
        {
            padding-top: 39px;
            padding-bottom: 20px;
            text-align: center;
            font-weight: 700;
            color: white;
            font-size: 18px;
            line-height: 27px;
            
            @media screen and ($tablet-widths)
            {
                text-align: left;
                text-transform: uppercase;
            }
            
        }
        .contacts__address
        {
            margin-bottom: 22px;
            text-align: center;
            color: white;
            font-size: 18px;
            line-height: 27px;
            
            @media screen and ($tablet-widths)
            {
                margin: 0;
                text-align: left;
            }
        }
        .contacts__tel
        {
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 18px;
            padding-bottom: 15px;
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            border: 1px solid #3b3b3b;
            
            &:hover
            {
                cursor: pointer;
                border: 1px solid #515151;
            }
            
            @media screen and ($tablet-widths)
            {
                margin: 0;
                padding: 0;
                text-align: left;
                border: 0;
                font-weight: 400;
                
                &:hover
                {
                    border: none;
                }
            }
        }
    }
    .socio
    {
        padding-top: 26px;
        background: #252525;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        @media screen and ($tablet-widths)
        {
            order: 3;
            padding-top: 51px;
            padding-bottom: 59px;
            margin-left: 64px;
            margin-right: 64px;
        }
        
        @media screen and ($desktop-widths)
        {
            order: 2;
            width: 200px;
            margin: 0;
            margin-right: 140px;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .socio__text
        {
            display: none;
            
            @media screen and ($desktop-widths)
            {
                margin-bottom: 31px;
                display: block;
                color: #ffffff;
                font-size: 18px;
                line-height: 27px;
            }
        }
        .socio__images
        {
            display: flex;
            flex-direction: row;
        }
        .socio__image
        {
            width: 105px;
            height: 101px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #3b3b3b;
            
            &:hover
            {
                cursor: pointer;
                border: 1px solid #515151;
            }
            
            @media screen and ($tablet-widths)
            {
                width: 214px;
                height: 101px;
            }
            @media screen and ($desktop-widths)
            {
                margin-left: 3px;
                margin-right: 3px;
                width: 50px;
                height: 50px;
            }         
        }
        .socio__image--one
        {

            img
            {
                width: 23px;
                height: 26px;
                
                @media screen and ($desktop-widths)
                {
                    width: 15px;
                    height: 17px;
                }
            }
        }
        .socio__image--two
        {

            img
            {
                width: 18px;
                height: 39px;
                
                @media screen and ($desktop-widths)
                {
                    width: 10px;
                    height: 21px;
                }
            }    
        }
        .socio__image--three
        {

            img
            {
                width: 36px;
                height: 36px;
                
                @media screen and ($desktop-widths)
                {
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }
    .developers
    {
        background: #252525;
        padding-bottom: 40px;
        
        @media screen and ($tablet-widths)
        {
            //width: 160px;
            padding-bottom: 0;
            order: 2;
        }

        .footer__header
        {
            padding-top: 35px;
            padding-bottom: 33px;
            text-align: center;
            color: white;
            font-size: 18px;
            line-height: 27px;
            
            @media screen and ($tablet-widths)
            {
                padding-bottom: 15px;
            }
        }
        .footer__text
        {
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            color: white;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            border: 1px solid #3b3b3b;
            
            &:hover
            {
                cursor: pointer;
                border: 1px solid #515151;
            }
            @media screen and ($tablet-widths)
            {
                padding-left: 29px;
                padding-right: 25px;
            }
            
            @media screen and ($desktop-widths)
            {
                padding-top: 19px;
                padding-bottom: 19px;
            }
        }
    }
}