.page-header
{
    width: 100%;
    background-color: #826551;
    
    .page-header__logo
    {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #242424;
        
        img
        {
            margin-top:29px;
            margin-bottom: 26px;
        }
    }
}