.page-header
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #826551;
    
    @media screen and ($tablet-widths)
    {
        background-image: url(../img/back-tablet.jpg);
        //background-color: black;
        //margin-top: 29px;
        //margin-bottom: 29px;     
    }
    
    @media screen and ($desktop-widths)
    {
        background-image: url(../img/back-desktop.jpg);
    }
    .page-header__logo
    {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #242424;
        
        @media screen and($tablet-widths)
        {
            margin-top: 39px;
            margin-bottom: 207px;
            order: 2;
            background: none;
        }
        
        @media screen and ($desktop-widths)
        {
            margin-bottom: 438px;
        }
        img
        {
            margin-top:29px;
            margin-bottom: 26px;
        }
    }
}