.news
{
    width: 100%;
    background: #f8f5f2;
    padding-bottom: 28px;
    
    .news__header
    {
        padding-top: 37px;
        padding-bottom: 35px;
        text-align: center;
        color: black;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }
    .news__block
    {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 21px;
        padding-top: 23px;
        border-bottom: 1px solid #e5ddd5;
        
        
        .news__date
        {
            position: relative;
            height: 50px;
            background: black;
            margin-top: 5px;
            margin-right: 20px;
            padding-top: 9px;
            padding-left: 12px;
            padding-right: 12px;
            
            &:after
            {
                    content: "";
                    top: 59px;
                    left: 0px;
                    position: absolute;
                    border: 29px solid transparent;
                    border-top: 20px solid #000;
            }
            .news__number
            {
                color: white;
                font-size: 30px;
                font-weight: 700;
                //line-height: 30px;
            }
            .news__month
            {
                color: white;
                font-size: 16px;
            }
        }
        .news__text
        {
            text-align: justify;
            color: black;
            font-size: 18px;
            line-height: 27px;
        }
    }
    .news__block--two
    {
        border: 0;
    }
}