.promo
{
    width: 100%;
    text-align: center;
    padding-top: 31px;
    
    .promo__header
    {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 21px;
        color: black;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
    }
    .promo__text
    {
        padding-left: 38px;
        padding-right: 38px;
        padding-bottom: 29px;
        color: black;
        font-size: 20px;
        line-height: 27px;
    }
    .features
    {
        .features__block
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: #3e3e3e;
            text-align: right;
            padding-top: 28px;
            padding-bottom: 28px;
            padding-left: 22px;
            padding-right: 20px;
            
            &:nth-child(even)
            {
                background-color: #4d4d4d;
            }
            .features__number
            {
                display: block;
                width: 160px;
                text-align: left;
                color: white;
                font-size: 40px;
                font-weight: 300;
                line-height: 18px;
            }
            .features__text
            {
                display: block;
                width: 110px;
                color: #f7f4f1;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .lie
    {
        background: #242424;
        padding-top: 20px;
        
        .lie__text
        {
            opacity: 0.3;
            color: #ffffff;
            font-size: 20px;
            line-height: 27px;
        }
    }
}