.works
{
    background-color: #f8f5f2;
    position: relative;
    padding-bottom: 68px;
    
   /*
    &:before
    {
        content: url(../img/object-mobile.png);
        position: absolute;
        top: -68px;
    }
    */
    @media screen and($tablet-widths)
    {
        position: relative; 
        
        &:before
        {
            content: url(../img/object-tablet.png);
            position: absolute;
            top: -68px;
        }
    }
    
    @media screen and($desktop-widths)
    {
        &:before
        {
            content: url(../img/object-desktop.png);
        }
    }
    .works__header
    {
        padding-top: 33px;
        padding-bottom: 33px;
        text-align: center;
        color: black;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        
        @media screen and ($tablet-widths)
        {
            margin-left: 65px;
            padding-top: 63px;
            padding-bottom: 67px;
            text-align: left;
        }
        @media screen and ($desktop-widths)
        {
            font-size: 40px;
            font-weight: 700;
            line-height: 30px;
            text-transform: uppercase;
        }
    }
    .work-of-month
    {
        position: relative;
        text-align: center;
        
        @media screen and ($tablet-widths)
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: inherit;
            margin-bottom: 41px;
            margin-left: 64px;
            margin-right: 64px;
            border: 1px solid #e5ded6;
        }
        
        @media screen and ($desktop-widths)
        {
            margin-left: 120px;
            margin-right: 120px;
        }
        .works-of-month__image
        {
            img
            {
                vertical-align: middle;
            }
        }
        .work-of-month__text-block
        {
            @media screen and ($tablet-widths)
            {
                width: 50%;
            }
            @media screen and ($desktop-widths)
            {
                width: 47%;
            }
            .work-of-month__promo
            {
                display: block;
                position: absolute;
                width: 176px;
                padding-top: 18px;
                padding-left: 25px;
                padding-bottom: 15px;
                background-color: #826551;
                color: white;
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
                text-transform: uppercase;
                left: 20px;
                bottom: 370px;

                @media screen and ($tablet-widths)
                {
                    left: 0;
                    bottom: 380px;
                }
                
                @media screen and ($desktop-widths)
                {
                    left: 79.1%;
                    bottom: 385px;
                }

                &:after
                {
                    content: "";
                    position: absolute;
                    border: 30px solid transparent;	
                    border-right: 10px solid #f0f0f0;
                    top: 0;
                    right: 0;
                    
                    @media screen and ($desktop-widths)
                    {
                        content: "";
                        position: absolute;
                        border: 30px solid transparent;	border-left: 20px solid #f8f5f2;
                        top: 0;
                        //right: none;
                        left: 0;
                    }
                }
            }
            .work-of-month__name
            {
                margin-top: 24px;
                margin-bottom: 21px;
                color: black;
                font-size: 24px;
                font-weight: 700;
                line-height: 27px;
                
                @media screen and ($tablet-widths)
                {
                    margin: 0;
                    margin-top: 49px;
                    margin-left: 50px;
                    margin-bottom: 33px;   
                }
                @media screen and ($desktop-widths)
                {
                    margin-top: 130px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 27px;
                }
            }
            .work-of-month__text
            {
                padding-left: 42px;
                padding-right: 54px;
                text-align: left;
                color: black;
                font-size: 18px;
                line-height: 27px;
                
                @media screen and ($tablet-widths)
                {
                   padding: 0;
                   padding-bottom: 132px;
                   margin-left: 50px;
                }
                
                @media screen and ($desktop-widths)
                {
                    margin-right: 139px;
                    padding-bottom: 100px;
                }
            }
        
            .what-done
            {
                padding-top: 27px;
                padding-left: 42px;
                padding-right: 20px;
                padding-bottom: 25px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                border-bottom: 1px solid #e5ddd5;
                
                @media screen and ($tablet-widths)
                {
                    margin-left: 50px;
                    padding-left: 0;
                    padding-bottom: 0;
                    border: 0;
                }

                .what-done__block
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100px;
                    margin-right: 29px;
                    margin-bottom: 25px;
                    
                    @media screen and ($tablet-widths)
                    {
                        margin-right: 24px;
                    }

                    p
                    {
                        padding-left: 15px;
                        color: black;
                        font-size: 16px;
                        line-height: 27px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .work-blocks
    {
        @media screen and ($desktop-widths)
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            //margin-left: 120px;
            //margin-right: 120px;
        }
    }
    .work
    {
        //border-bottom: 1px solid #e5ddd5;
        
        @media screen and ($tablet-widths)
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: inherit;
            margin-bottom: 41px;
            margin-left: 64px;
            margin-right: 64px;
            border: 1px solid #e5ded6;
        }
        
        @media screen and ($desktop-widths)
        {
            width: 294px;
            //height: 541px;
            margin-left: 20px;
            margin-right: 20px;
        }
        
        .work__image
        {
            margin-top: 20px;
            text-align: center;
            
            @media screen and($tablet-widths)
            {
                margin: 0;
            }
            
            @media screen and ($desktop-widths)
            {
                height: 294px;
            }
            
            img
            {
                vertical-align: middle;
            }
        }
    
        .work__text-block
        {
            @media screen and ($tablet-widths)
            {
                width: 50%;
            }
            
            @media screen and ($desktop-widths)
            {
                width: 100%;
            }
            
            .work__name
            {
                margin-top: 29px;
                margin-bottom: 23px;
                text-align: center;
                color: black;
                font-size: 24px;
                font-weight: 700;
                line-height: 27px;
                
                @media screen and ($tablet-widths)
                {
                    text-align: left;
                    margin: 0;
                    margin-top: 49px;
                    margin-left: 50px;
                    margin-bottom: 33px;   
                }
                
                @media screen and ($desktop-widths)
                {
                    margin-top: 35px;
                }
            }
            .work__text
            {
                margin-left: 43px;
                margin-left: 54px;
                color: black;
                font-size: 18px;
                line-height: 27px;
                
                @media screen and ($tablet-widths)
                {
                   padding: 0;
                   padding-bottom: 24px;
                   margin-left: 50px;
                }
            }
            
            .work__text--two
            {
                padding-bottom: 78px;   
            }
            
            .what-done
            {
                padding-top: 27px;
                padding-left: 42px;
                padding-right: 20px;
                //padding-bottom: 25px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                .what-done__block
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100px;
                    margin-right: 29px;
                    margin-bottom: 25px;

                    p
                    {
                        padding-left: 15px;
                        color: black;
                        font-size: 16px;
                        line-height: 27px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    
    &:after
    {
        bottom: -4px;
        left: 0;
        position: absolute;
        content: url(../img/object-3-mobile.png);
    }
    
    @media screen and ($tablet-widths)
    {
        &:after
        {
            bottom: -4px;
            left: 0;
            position: absolute;
            content: url(../img/object-3-tablet.png);
        }
    }
    
    @media screen and ($desktop-widths)
    {
        &:after
        {
            bottom: -4px;
            left: 0;
            position: absolute;
            content:"";
        }
    }
}